[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/libremidi"]
	path = lib/libremidi
	url = git@github.com:jcelerier/libremidi.git
[submodule "lib/libsndfile"]
	path = lib/libsndfile
	url = git@github.com:libsndfile/libsndfile.git
[submodule "lib/farbot"]
	path = lib/farbot
	url = git@github.com:hogliux/farbot.git
