[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/libremidi"]
	path = lib/libremidi
	url = git@github.com:jcelerier/libremidi.git
[submodule "lib/AnalogTapeModel"]
	path = lib/AnalogTapeModel
	url = git@github.com:jatinchowdhury18/AnalogTapeModel.git
