[Unit]
Description=Ostrostroj
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/ostrostroj
ExecStart=/usr/local/bin/ostrostroj /srv/ostrostroj/
Restart=on-failure

[Install]
WantedBy=multi-user.target